@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap");

html {
	margin: 0px;
	padding: 0px;
}

:root {
	/* Mimicking a color object palette */
	--primary-color: #fffbf5;
	--secondary-color: #f3e2ce;
	--black: #2a2a2a;
}

.underconstruction {
	display:flex;
	align-items: center;
	gap: 10px;
}

/* script classes */
.hide-element {
	display: none;
}

.hide-desktop {
	display: none;
}

/* arrow adjustments */
.arrow {
	height: 12px;
	width: 12px;
}
.arrow-up {
}
.arrow-down {
}
.arrow-right {
}
.arrow-left {
}

.close-icon-desktop {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
	object-fit: cover;
	aspect-ratio: 1 / 1;
	height: 14px;
	width: 14px;
	margin: 20px 20px 0px 0px;
}

/* Fonts */
.bebas-neue-regular {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-flex-extralight {
	font-family: "Roboto Flex", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	font-variation-settings:
		"slnt" 0,
		"wdth" 100,
		"GRAD" 0,
		"XOPQ" 96,
		"XTRA" 468,
		"YOPQ" 79,
		"YTAS" 750,
		"YTDE" -203,
		"YTFI" 738,
		"YTLC" 514,
		"YTUC" 712;
}

h1 {
	font-size: 21px;
	margin: 0px;
	padding: 0px;

	/* border: 2px solid red; */
}

h2 {
	font-size: 21px;
	margin: 18dvh 0px 0px 0px;
	padding: 0px;
	/* border: 1px solid red; */
}

h3 {
	font-size: 21px;
	margin: 0px;
	padding: 0px;
}

h4 {
	font-size: 47px;
	margin: 0px;
	padding: 0px;
}

h5 {
	font-size: 21px;
	margin: 0px;
	padding: 0px;
}

p {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}

a {
	font-size: 21px;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
a,
a:visited {
	color: inherit;
}

ul {
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}

li {
	margin-left: 20px;
	padding: 0px;
}

.justify-text {
	text-align: justify;
}

.art-decoration {
	letter-spacing: 200%;
	margin-right: -42px;

	/* border: 2px solid red; */
}

.paper-trail-container {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: end;
	/* border: 1px solid red; */
}

.paper-trail {
	font-size: 16px;
	text-wrap-mode: nowrap;
}
.paper-trail-mobile {
	font-size: 16px;
	text-wrap-mode: nowrap;
}

/* background */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-color);
	margin: 20px;
}

#background-container {
	width: calc(100dvw - 80px);
	height: calc(100dvh - 80px);
	padding: 20px;
	background-color: var(--primary-color);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.background-container {
	width: calc(100dvw - 80px);
	height: calc(100dvh - 80px);
	padding: 20px;
	background-color: var(--primary-color);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* primary navigation */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid red; */
	padding: 0px;
	width: 100%;
	z-index: 3;
}

#desktop-nav-status {
	margin-right: -15px;
}

#desktop-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 1.5rem;

	/* border: 1px solid red; */
	margin: 0px;
	padding: 0px;
}
#hamburger-icon-large {
	display: none;
}

#mobile-nav-status {
	display: flex;
	align-items: center;
	gap: 10px;
}
#mobile-nav {
	display: none;
	flex-direction: column;
	justify-content: center;
	gap: 100px;
	align-items: end;

	height: 100%;

	/* border: 2px solid red; */
}
#mobile-nav-learn {
	position: relative;
	top: 16dvh;
	right: 20px;
	display: none;
	flex-direction: column;
	justify-content: center;
	gap: 100px;
	align-items: end;

	height: 100%;

	/* border: 2px solid red; */
}

/* images */
img {
	max-width: 100%;
	max-height: 100%;
}

/* hero section */
#hero-container {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
	/* border: 2px solid red; */
}

#main-hero-image {
	object-fit: cover;
	width: clamp(calc(225px), calc(25vw + 1rem), calc(300px));
	aspect-ratio: 1 / 1;

	/* border: 2px solid red; */
}

#hero-text-container {
	display: flex;
	width: 50%;
	gap: 80px;
	/* overflow: visible; */

	/* border: 2px solid red; */
}

#hero-footer {
	display: flex;
	justify-content: space-between;
	align-items: end;

	/* border: 2px solid red; */
}

#hero-image-selector {
	display: flex;
	justify-content: space-between;
	height: clamp(52px, calc(12dvw + 1rem), 98px);
	width: min(calc(108px * 4), 100%);
	/* border: 2px solid red; */
}

#selector-hero-image {
	object-fit: cover;
	aspect-ratio: 1 / 1;
}

/* learn page */
#learn-home-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 20px;
	width: 100%;
}

#learn-home-image-desktop {
	object-fit: cover;
	height: calc(100dvh - 80px);
}

#learn-home-main {
	width: 100%;
}

#learn-desktop-container {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr;
	/* border: 1px solid red; */
	height: calc(100dvh - 80px - 31px);
	width: 100%;
}

#learn-main > h2 {
	grid-area: 0 / 0 / 0 / 0;
}

#learn-middle-menu {
	grid-area: 0 / 1 / 0 / 2;
	display: flex;
	gap: 6dvh;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	margin-left: 40px;

	/* border: 2px solid red; */
}

.learn-middle-menu-item {
	display: flex;
	align-items: center;
	gap: 8dvw;

	justify-content: space-between;
}

.learn-middle-menu-item > section {
	display: flex;
	width: 100%;
	gap: 10dvw;
	justify-content: space-between;
	/* border: 1px solid red; */
}

.learn-middle-menu-item > section > section {
	/* border: 1px solid red; */
	width: 300px;
	padding: 5px;
}
.learn-middle-menu-item > section > section > p {
	text-wrap: nowrap;
}

.learn-subheader-container {
	display: flex;
	gap: 12px;
}

.learn-submenu-container {
	display: grid;
	grid-template-columns: 2fr 10dvw 2fr;
	width: 100%;
	height: calc(100dvh - 80px - 27px);
	/* border: 1px solid red; */
}

.learn-submenu-page {
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	flex-direction: column;
	height: calc(100dvh - 80px - 24px);
	justify-content: space-between;
	/* border: 1px solid red; */
}

.learn-submenu-header {
	display: flex;
	justify-content: space-between;
	margin: 18dvh 0px 0px 0px;
}

.learn-submenu-content-container {
	grid-area: 1 / 3 / 1 / 4;
	/* border: 1px solid red; */
	display: flex;
	height: calc(100dvh - 80px - 24px);
	flex-direction: column;
	justify-content: end;
	gap: 10dvh;
}

.content-card-container {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
	background-color: var(--secondary-color);
	margin-top: 10dvh;
	min-width: 70%;
	height: 70%;
	max-width: 70%;
	/* border: 1px solid red; */
}

.content-card {
	overflow: hidden;
	background-color: var(--secondary-color);
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	/* border: 1px solid red; */
}

.content-card-container > h1 {
	position: relative;
	bottom: 20px;
	right: 20px;
	margin-top: 40px;
}

.content-card-img {
	display: flex;
	align-items: top;
	justify-content: space-between;
	/* border: 1px solid red; */
	width: calc(100%);
	margin-bottom: 10px;
}

.content-card-images {
	display: flex;
	width: 100%;
	height: 100%;
}

.content-card-images > img {
	object-fit: cover;
	aspect-ratio: 1 / 1;
	margin: 20px 10px 0px 20px;
	width: calc(70% - 40px);
	/* height: calc(100% - 40px); */
	/* border: 1px solid red; */
}

.content-card-img-selector {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5px;
	margin-top: 20px;
	margin-right: 20px;
	height: calc(100% - 20px);

	/* border: 1px solid red; */
}

.content-card-img-selector > img {
	object-fit: cover;
	aspect-ratio: 1 / 1;
	height: 4dvw;
}

.content-card-text {
	width: calc(100% - 40px);
	/* border: 1px solid red; */
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
	scrollbar-width:none;
}

.content-card > section > p {
	width: calc(100%);
}

.learn-submenu {
	display: flex;
	flex-direction: column;
	height: 20dvh;
	justify-content: space-between;
	/* border: 1px solid red; */
}

.learn-submenu-item {
	display: flex;
	gap: 15dvw;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.learn-nav-item {
	display: flex;
	gap: 20px;
	align-items: center;
}

.learn-anchor-link {
	display: flex;
	gap: 10px;
}

/* gallery */
.gallery-container {
	display: grid;
	width: 100%;
	height: calc(100dvh - 80px - 27px);
	/* border: 1px solid red; */
}

.gallery-page {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: calc(100dvh - 80px - 24px);
	justify-content: space-between;
	/* border: 1px solid red; */
}

.gallery-background-image-container {
	position:fixed;
	align-self: center;
	justify-self: center;
	z-index: 0;
	width: 100%;
	height: 100%;
	/* border: 1px solid red; */
	background-image:url("/./src/static/assets/img/index/AdobeStock_219364830.jpeg");
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30dvw 30dvw;
	filter:blur(5px);
}

.gallery-header {
	display: flex;
	justify-content: space-between;
	margin: 18dvh 0px 0px 0px;
}

.gallery-footer-container {
	align-self: flex-end;
	/* border: 1px solid red; */
}

#gallery-scroll {
	z-index: 2;
	width: 100%;
	/* border: 1px solid red; */
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#gallery-scroll > div {
    max-width: calc(100dvw - 80px); 
    display: flex;
	gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
	scrollbar-width: none;
	margin-top: 40px;
}

#gallery-scroll > div > a > article {
	width: 200px;
    display: inline-block;
}
#gallery-scroll > div > a > article > p{
	text-shadow: 
		0 0px 5px var(--primary-color),
		0 0px 20px var(--primary-color),
		0 0px 30px var(--primary-color),
		0 0px 40px var(--primary-color),
		0 0px 50px var(--primary-color),
		0 0px 60px var(--primary-color),
		0 0px 70px var(--primary-color);
}

#gallery-img-article {
	object-fit: cover;
	aspect-ratio: 1 / 1;
    float: none;
}



/* mobile breakpoint */
@media (max-width: 800px) {
	/* background */
	body {
		margin: 16px;
	}

	#background-container {
		width: calc(100dvw - 64px);
		height: calc(100dvh - 64px);
		padding: 16px;
	}

	/* fonts */
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 36px;
		margin: 0px;
		padding: 0px;
	}

	h4 {
		font-size: 61px;
	}

	a {
		font-size: 36px;
	}

	.art-decoration {
		letter-spacing: 100%;
	}

	.paper-trail-mobile {
		display: block;
	}

	/* primary navigation */
	#desktop-nav {
		display: none;
	}

	#hamburger-icon-large {
		display: block;
	}

	/* hero section */
	#hero-container {
		position: relative;
		height: 100%;
		/* border: 2px solid red; */
	}

	#main-hero-image {
		position: absolute;
		width: 225px;
		height: auto;
		right: 0;
	}

	#hero-text-container {
		position: absolute;
		flex-direction: column;
		justify-content: center;
		gap: 40px;
	}

	#hero-footer {
		flex-direction: column;
		align-items: flex-start;
	}

	#learn-desktop-container {
		display: none;
	}

	#learn-home-image-desktop {
		display: none;
	}

	#learn-home-container {
		display: flex;
	}

	#learn-mobile-container {
		display: flex;
		flex-direction: column;
		justify-content: start;
		gap: 10px;
		/* border: 1px solid red; */
		height: calc(100dvh - 80px - 31px);
	}

	#learn-home-image-mobile {
		object-fit: cover;
		height: 30dvh;
	}

	#learn-middle-menu {
		gap: 1dvh;
		/* border: 1px solid red; */
		justify-content: space-between;
		margin: 0px;
		overflow: scroll;
		scrollbar-width: none;
	}

	.learn-middle-menu-item > section > section {
		width: 0px;
		/* border: 1px solid red; */
	}

	.learn-submenu-content-container {
		grid-area: 1 / 1 / 1 / 4;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content-card-container {
		max-width: 100%;
		margin-bottom: 20px;
	}

	.content-card-container {
		/* border: 1px solid red; */
		height: 80dvh;
		box-shadow:
			0 4px 8px 0 rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.learn-submenu-header {
		flex-direction: column;
		width: calc(100dvw - 75px);
		gap: 40px;
	}

	.hide-mobile {
		display: none;
	}

	.background-container {
		width: calc(100dvw);
		height: calc(100dvh - 32px);
		padding: 0px;
	}

	.add-margin {
		padding: 16px;
		width: calc(100% - 32px);
	}

	.close-icon-desktop {
		width:30px;
		height: 30px;
	}

	.content-card-images > img {
		width: 80%;
	}

	.gallery-header {
		display: flex;
		gap: 40px;
		flex-direction: column;
		z-index: 2;
	}

	.gallery-scroll > div {
		max-width: 100dvw;
	}

	.gallery-background-image-container {
		background-size: 70dvw 70dvw;
		margin-top: 70px;
	}

	.content-card-img-selector {
		justify-content: end;
	}

	.content-card-img-selector > img {
		height: 3dvw;
	}
}
