@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&display=swap");

html {
	margin: 0px;
	padding: 0px;
}

:root {
	/* Mimicking a color object palette */
	--primary-color: #fffbf5;
	--secondary-color: #f3e2ce;
	--black: #2a2a2a;
}

/* Fonts */
.bebas-neue-regular {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-flex-extralight {
	font-family: "Roboto Flex", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	font-variation-settings:
		"slnt" 0,
		"wdth" 100,
		"GRAD" 0,
		"XOPQ" 96,
		"XTRA" 468,
		"YOPQ" 79,
		"YTAS" 750,
		"YTDE" -203,
		"YTFI" 738,
		"YTLC" 514,
		"YTUC" 712;
}

h1 {
	font-size: 21px;
	margin: 0px;
	padding: 0px;

	/* border: 2px solid red; */
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 21px;
	margin: 0px;
	padding: 0px;
}

a {
	font-size: 21px;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
a,
a:visited {
	color: inherit;
}

.art-decoration {
	letter-spacing: 200%;
	margin-right: -42px;

	/* border: 2px solid red; */
}

/* background */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-color);
	margin: 20px;
}

#background-container {
	width: calc(100dvw - 80px);
	height: calc(100dvh - 80px);
	padding: 20px;
	background-color: var(--primary-color);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* primary navigation */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid red; */
	padding: 0px;
}

#desktop-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 1.5rem;

	/* border: 1px solid red; */
	margin: 0px;
	padding: 0px;
}
#hamburger-icon-large {
	display:none;
}
#mobile-nav {
	display:none;
	flex-direction: column;
	justify-content: center;
	gap: 100px;
	align-items: end;

	height: 100%;

	/* border: 2px solid red; */
}

/* images */
img {
	max-width: 100%;
	max-height: 100%;
}

/* hero section */
#hero-container {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-end;
	/* border: 2px solid red; */
}

#main-hero-image {
	object-fit: cover;
	width: clamp(calc(225px), calc(25vw + 1rem), calc(300px));
	aspect-ratio: 1 / 1;

	/* border: 2px solid red; */
}

#hero-text-container {
	display: flex;
	width: 50%;
	gap: 80px;
	/* overflow: visible; */

	/* border: 2px solid red; */
}

#hero-footer {
	display: flex;
	justify-content: space-between;
	align-items: end;

	/* border: 2px solid red; */
}

#hero-image-selector {
	display: flex;
	justify-content: space-between;
	height: clamp(52px, calc(12dvw + 1rem), 98px);
	width: min(calc(108px * 4), 100%);
	/* border: 2px solid red; */
}

#selector-hero-image {
	object-fit: cover;
	aspect-ratio: 1 / 1;
}

/* mobile breakpoint */
@media (max-width: 800px) {
	/* background */
	body {
		margin: 16px;
	}

	#background-container {
		width: calc(100dvw - 64px);
		height: calc(100dvh - 64px);
		padding: 16px;
	}

	/* fonts */
	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 36px;
	}

	h4 {
		font-size: 27px;
	}

	a {
		font-size: 36px;
	}

	.art-decoration {
		letter-spacing: 100%;
	}

	/* primary navigation */
	#desktop-nav {
		display: none;
	}

	#hamburger-icon-large {
		display:block;
	}

	/* hero section */
	#hero-container {
		position: relative;
		height: 100%;
		/* border: 2px solid red; */
	}

	#main-hero-image {
		position: absolute;
		width: 225px;
		height: auto;
		right: 0;
	}

	#hero-text-container {
		position: absolute;
		flex-direction: column;
		justify-content: center;
		gap: 40px;
	}

	#hero-footer {
		flex-direction: column;
		align-items: flex-start;
	}
}

/* script classes */
.hide-element {
	display: none;
}